.recurring {
    background-color: #00ad4e;
    color: white;
    /* background: url("http://nicolasgallagher.com/css-background-image-hacks/demo/transform-sprite.png"); */
    
}

.urgent {
    background-color: #FF0000;
    color: white;
    /* background: url("http://nicolasgallagher.com/css-background-image-hacks/demo/transform-sprite.png"); */
}

.stage-gate{
    background-color: #497bbe;
    color: white;
    /* background: url("http://nicolasgallagher.com/css-background-image-hacks/demo/transform-sprite.png"); */
}
.recurring, .urgent, .stage-gate{
    padding: 5px;
    padding-left: 20px;
    border: 0px;
}


